.basket {
  background: url("../../UI/img/background.png");
  height: 87.5vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
}

.basket-header {
  background-color: black;
  width: 100%;
}

.order-block {
  padding: 7vh;
}
