.catalog-page {
  background: url("../../UI/img/background.png");
  height: 1021px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
}

.page-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.catalog-header {
  background-color: black;
  width: 100%;
  margin-bottom: 1%;
}

.catalog-content {
  display: flex;
}
